body {
  background-color: #253C78;
  color: #171219
  margin: 0
}

header {
  background-color: #907AD6
  text-align:center;
  font-size: 3em

}
header h1 {
  margin: 0;
}



nav {
  background-color:  #222560
  overflow:auto;
}
nav ul {
  list-style: none;
  font-size: 1.5em;
  margin: 0;
  padding: 0;



  float: left;
  }

nav a {
  display: inline-block;
  padding-left: 0.5em;
  color: #dddddd;
  text-decoration: none;
  font-family: sans-serif
  border-right: 1px solid #dddddd
}

nav a:hover {
  background-color: #3100D20
}
